body{
	font-family: Arial, sans-serif;
	font-size: 24px;
}

.CurrentTime{
	font-size: 24px;
}

.TableHeader{
  font-size: 32px;
  font-weight: bold;
}

.table-wrapper{
    border: 1px solid #306090;
    width: 98%;
    height: 50%;
    overflow: auto;
}

.sidenav {
    height: 85%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 15%;
    left: 0;
    background-color: #306090;
    overflow-x: hidden;
    padding-top: 30px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #EEEEEE;
    display: block;
}

.application {
	height: 84%;
    width: 84%;
    position: fixed;
    z-index: 1;
    top: 15%;
    left: 15%;
    background-color: #D2D2D2;
    overflow-x: hidden;
	padding-left: 20px;
	padding-top: 20px;
}

.banner{
	height: 14%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #306090;
    overflow-x: hidden;
    padding-top: 20px;
}

.bannerbottom{
	height: 11%;
    width: 28%;
    position: fixed;
    z-index: 1;
    top: 4%;
	left: 7%;
    background-color: #323232;
    overflow-x: hidden;
}

.collapsible {
  background-color: #eee;
  color: #000000;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 32px;
}

.active, .collapsible:hover {
  background-color: #eeeeee;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.content {
  padding-left: 20px;
  background-color: #eeeeee;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.logo{
	top: 1%;
	left: 5%;
	position: fixed;
}

.msgFormats{
	font-size: 14px;
	font-weight: normal;
}
.slogan{
	top: 6%;
	left: 13%;
	position: fixed;
}

.slogantext{
	top: 11%;
	left: 13%;
	position: fixed;
	color: #EEEEEE;
}

.phone{
	top: 2%;
	right: 5%;
	position: fixed;
	font-size: 50px;
	text-align: right;
	color: #EEEEEE;
}

td{
	font-size: 24px;
	font-weight: bold;
}

input{
	font-size: 24px;
	font-weight: normal;
}

textarea{
	font-size: 24px;
	font-weight: normal;
}

.charCounter{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.vpadding{
  height: 20px;
}

.headRow{
  padding: 5px;
  text-align: center;
}

.msgNumColumn{
  padding: 5px;
  text-align: center;
}

.tuNumColumn{
  padding: 5px;
  width: 200px;
  text-align: center;
}

.doorColumn{
  padding: 5px;
  width: 150px;
  text-align: center;
}
