{% load static %}
<!doctype html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="{% static 'css\Style.css' %}">
    <meta charset="utf-8">
    <title>EMP Web Interface</title>
    <meta name="description" content="Web Interface for PC 2020/12">
    <meta name="author" content="John Machado">
    </head>
    <body>
        {% include 'branding.html' %}
        {% include 'navigation.html' %}
        {% block content %} 
            base page
        {% endblock content %}
    </body>
</html>