{% load static %}
<div class="banner">
    <div class="bannerbottom">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}">
        </div>
        <div class="slogan">
            <img src="{% static 'images/slogan.png' %}">
        </div>
        <div class="slogantext">
            <i> Turning Innovation Into Value <sup> <font size="1"> TM </font> </sup> </i>
        </div>
        <div class="phone">
            For Tech Support Call <br>
            <b> 248-478-1182 </b>
        </div>
    </div>
</div>